#CardProduto h5, #CardProduto h3 {
    font-family: 'Roboto Light', sans-serif;
    font-weight: 700;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.item_beneficios li{
    list-style: none;
    text-decoration: none;
}
.carProduto_titulos{
    -webkit-box-shadow: 0 -4px 15px 6px rgba(0,0,0,0.28);
    box-shadow: 0 -4px 15px 6px rgba(0,0,0,0.28);
    border-radius: 0.375rem 0.375rem  0 0!important;
}
.carProduto_beneficios{
    -webkit-box-shadow: 0 8px 15px 6px rgba(0,0,0,0.28);
    box-shadow: 0 8px 15px 6px rgba(0,0,0,0.28);
    border-radius:   0 0 0.375rem 0.375rem !important;
;
}