.tituloProduto {
    font-family: 'Roboto Light', sans-serif;
    font-weight: 700;
}
.precoProduto {
    font-family: 'Roboto Light', sans-serif;
    font-weight: 900;
}
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
body {
    background-image: url("./../img/576754.jpg");
    background-size: auto auto;
    background-repeat: repeat-y;

}

.card-login{
    -webkit-box-shadow: 6px 8px 15px 8px rgba(0,0,0,0.8);
    box-shadow: 6px 8px 15px 8px rgba(0,0,0,0.8);
}

@media only screen and (max-width: 991px) {
    #nomePersonagem, #enviarNome {
        font-size: 0.6rem;
    }
}
